# Virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit cache
.streamlit/

# Logs and temp files
*.log
*.sqlite3-journal

# Environment variables and secrets
.env
*.env

# SQLite database (if you don’t want to track it)
smart_entry.db

# Node.js (if you ever add frontend with Node)
node_modules/
package-lock.json
yarn.lock

# VS Code and JetBrains IDE settings (optional)
.vscode/
.idea/

# MacOS and Linux system files
.DS_Store

#image directories
/known_images